:root {
  /* solarized base */
  /* Solarized Dark */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;

  /* Solarized Light */
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;

  /* Solarized common */
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  /* solarized switchable, this one is dark */
  --fg: var(--base0); /* Bright font color, body  */
  --bg: var(--base03); /* body background colors */
  --hl: var(--base02); /* Body highlight color, border colors and such */
  --emph: var(--base1); /* Bright font color */
  --comment: var(--base01); /* font color */

  /* gloss sheen overlay */
  --gloss-sheen-down: linear-gradient(to bottom, var(--hl), var(--bg) 30%);
  --gloss-sheen-up: linear-gradient(to top, var(--hl), var(--bg) 30%);
  --gloss-sheen-right: linear-gradient(to right, var(--hl), var(--bg) 30%);
  --gloss-sheen-left: linear-gradient(to left, var(--hl), var(--bg) 30%);

  /* solarized light */
  /* --fg: var(--base00); */
  /* --bg: var(--base3); */
  /* --hl: var(--base2); */
  /* --emph: var(--base01); */
  /* --comment: var(--base1); */

  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--comment);
  --body-font-family: "Book Antiqua";
  --body-font-weight-bold: 600;
  --monospace-font-family: "JetBrains Mono";
  --monospace-font-weight-bold: 600;
  /* base */
  --html-background: var(--bg);
  --body-background: var(--bg);
  --panel-background: var(--hl); /* (--bg); */
  --panel-border-color: var(--bg);
  --scrollbar-track-color: var(--hl);
  --scrollbar-thumb-color: var(--fg);
  --scrollbar_hover-thumb-color: var(--hl);
  /* navbar */
  --navbar-background: var(--gloss-sheen-up), var(--bg);
  --navbar-font-color: var(--emph);
  --navbar_hover-background: var(--hl);
  --navbar-button-background: var(--hl);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--hl);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--hl);
  /* nav */
  --nav-background: var(--gloss-sheen-left), var(--body-background);
  --nav-border-color: var(--panel-border-color);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--emph);
  --nav-muted-color: var(--hl);
  --nav-panel-divider-color: var(--panel-border-color);
  --nav-secondary-background: var(--fg);
  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--emph);
  --toolbar-muted-color: var(--bg);
  --page-version-menu-background: var(--panel-background);
  --page-version-missing-font-color: var(--emph);
  /* admonitions */
  --caution-color: var(--yellow);
  --caution-on-color: var(--hl);
  --important-color: var(--red);
  --important-on-color: var(--hl);
  --note-color: var(--blue);
  --note-on-color: var(--hl);
  --tip-color: var(--green);
  --tip-on-color: var(--hl);
  --warning-color: var(--orange);
  --warning-on-color: var(--hl);
  /* doc */
  --doc-font-color: var(--comment);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--emph);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--yellow);
  --link_hover-font-color: var(--orange);
  --link_unresolved-font-color: var(--red);
  --abstract-background: var(--panel-background);
  --abstract-font-color: var(--comment);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--gloss-sheen-down), var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--emph);
  --caption-font-style: italic;
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--emph);
  --example-background: var(--panel-background);
  --example-border-color: var(--panel-border-color);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--panel-border-color);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--hl);
  --pre-annotation-font-color: var(--emph);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--panel-border-color);
  --quote-font-color: var(--emph);
  --quote-attribution-font-color: var(--emph);
  --sidebar-background: var(--panel-background);
  --table-border-color: var(--hl);
  --table-stripe-background-a: var(--bg);
  --table-stripe-background-b: var(--hl);
  --table-footer-background: linear-gradient(to bottom, var(--emph) 0%, var(--comment) 100%);
  /* toc */
  --toc-font-color: var(--comment);
  --toc-heading-font-color: var(--emph);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--panel-background);
  --footer-font-color: var(--emph);
  --footer-link-font-color: var(--emph);
  /* dimensions and positioning */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
